$small: 480px;
$medium: 768px;
$high: 1200px;
$very-high: 1400px;

.container {
  position: relative;
  display: flex;
}

.basket {
  width: 20em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  &--apple1 {
    width: 3.5em;
    top: 75%;
    left: 49%;
    position: absolute;
    z-index: 100;
    animation: apple infinite 2s ease-in;
  }
  &--apple2 {
    width: 3.5em;
    top: 75%;
    left: 52%;
    position: absolute;
    z-index: 100;
    animation: apple infinite 2s ease-in-out;
  }
  &--apple3 {
    width: 3.5em;
    top: 75%;
    left: 46%;
    position: absolute;
    z-index: 100;
    animation: apple infinite 2s ease-out;
  }
}

@media screen and (max-width: $medium) {
  .basket {
    width: 17em;
    margin-top: 5em;
  }
}

@media screen and (max-width: $small) {
  .basket--apple1 {
    top: 45%;
    left: 5%;
  }
}

@media screen and (max-width: $medium) {
  .basket--apple1 {
    top: 54%;
    left: 35%;
  }
}

@media screen and (max-width: $high) {
  .basket--apple1 {
    top: 75%;
    left: 38%;
  }
}

@media screen and (max-width: $very-high) {
  .basket--apple1 {
    width: 3em;
    top: 74%;
    left: 37%;
  }
}

@media screen and (max-width: $medium) {
  .basket--apple2 {
    top: 54%;
    left: 47%;
  }
}

@media screen and (max-width: $high) {
  .basket--apple2 {
    top: 75%;
    left: 47%;
  }
}

@media screen and (max-width: $very-high) {
  .basket--apple2 {
    width: 3em;
    top: 74%;
    left: 47%;
  }
}

@media screen and (max-width: $medium) {
  .basket--apple3 {
    top: 54%;
    left: 55%;
  }
}

@media screen and (max-width: $high) {
  .basket--apple3 {
    top: 75%;
    left: 55%;
  }
}

@media screen and (max-width: $very-high) {
  .basket--apple3 {
    width: 3em;
    top: 74%;
    left: 57%;
  }
}

@keyframes apple {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
