// $left: floor(random() * 40 + 30);

.apple {
  width: 3em;
  position: absolute;
  top: 15%;
  animation: fall linear 3s forwards;
}

@keyframes fall {
  to {
    transform: translateY(50vh);
  }
  100% {
    display: none;
    opacity: 0;
  }
}
